body {
  background: #a8bfbe;
}

.App {
  max-width: 800px;
  margin: 20px auto;
}

.App h1 {
  margin: 20px;
  font-size: 50px;
  font-family: Lobster;
  font-weight: bold;
  color: #151d3b;
}

.App footer {
  text-align: center;
}

.App header {
  text-align: center;
}

.App small a {
  color: #151d3b;
}
