body {
  background: #ffedda;
}

.App {
  max-width: 800px;
  margin: 20px auto;
}

.App h1 {
  margin: 20px;
  font-size: 60px;
  font-family: Lobster;
  font-weight: bold;
}

.App .h-color-1 {
  color: #fd6f96;
}

.App .h-color-2 {
  color: #95dac1;
}

.App .h-color-3 {
  color: #ffb830;
}

.App footer {
  text-align: center;
}

.App header {
  text-align: center;
}

.App small a {
  color: #fd6f96;
}
