.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.Dictionary input {
  border: 1px solid #ddd;
  width: 100%;
  padding: 8px 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.Dictionary h1 {
  font-family: sans-serif;
  font-size: 18px;
  margin: 10px 0;
}

.Dictionary small {
  font-size: 12px;
}
