.Phonetic a {
  border: 1px solid #95dac1;
  border-radius: 12px;
  color: #95dac1;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 5px;
  transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
  background: #95dac1;
  color: #fff;
}
